<div *ngIf="loading" class="my-3 mx-3 text-center mat-display-1">
  Loading...
</div>
<div *ngIf="error">
  <app-error-view [error]="error"></app-error-view>
</div>
<div *ngIf="typeDefinition" class="ps-2 pe-2">
  <mat-card class="p-0 m-0">
    <mat-card-content class="p-0">
      <app-property-filter-control-block-control
        (onValueChange)="onExpressionValueChange($event)"
        [initialValue]="initialFilterBlock"
        [typeDefinition]="typeDefinition">
      </app-property-filter-control-block-control>
    </mat-card-content>
  </mat-card>
</div>
