<div
  *ngIf="typeDefinition" [formGroup]="safeFormGroupInstance"
  style="background: beige"
  fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <mat-form-field
    class="filter-property-control"
    appearance="fill">
    <mat-label>Property</mat-label>
    <mat-select formControlName="name"
                panelClass="panel-override"
                (selectionChange)="onPropertySelect($event.value)"
                placeholder="Select a property">
      <mat-option *ngFor="let p of typeDefinition.properties" [value]="p.name">
        {{p.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field
    *ngIf="selectedProperty"
    class="filter-type-control"
    appearance="fill">
    <mat-label>Filter</mat-label>
    <mat-select
      panelClass="panel-override"
      [formControl]="filterTypeControl"
      (selectionChange)="onFilterTypeSelect($event.value)"
      placeholder="Select a filter">
      <mat-option *ngFor="let f of selectedProperty.allowedFilters" [value]="f.filterType">
        {{f.filterType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span fxFlex="auto" *ngIf="selectedFilterDefinition && selectedFilterDefinition.arg1Required">
    <app-property-argument-array-control
      formArrayName="arguments"
      (changes)="onArgumentsChange($event)"
      [formGroup]="safeFormGroupInstance"
      [type]="typeDefinition"
      [property]="selectedProperty"
      [filterDefinition]="selectedFilterDefinition"></app-property-argument-array-control>
  </span>
</div>
