<div *ngIf="formGroup && typeDefinition"
  [ngClass]="{'separate-condition-block' : isSeparateConditionBlockLeaf && hasChildBlocks }">
  <h2 *ngIf="isRootBlock">Filters</h2>
  <div [formGroup]="safeFormGroupInstance">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
      <span
        (mouseenter)="isHoveringConditionBlock = true"
        (mouseleave)="isHoveringConditionBlock = false">
        <app-property-filter-control
          (onChanges)="onFirstChanges($event)"
          (onValueChange)="onFirstValueChange($event)"
          (onValidationError)="onFirstValidationErrors($event)"
          [typeDefinition]="typeDefinition"
          [formGroup]="firstFormGroup">
        </app-property-filter-control>
      </span>
      <span fxLayout="row"
        (mouseenter)="isHoveringConditionBlock = true"
        (mouseleave)="isHoveringConditionBlock = false">
        <mat-form-field appearance="fill" *ngIf="hasChildBlocks">
          <mat-label>Condition</mat-label>
          <mat-select [formControl]="conditionControl">
            <mat-option *ngFor="let p of binaryOpsChoices" [value]="p">
              {{p}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          color="primary"
          matTooltip="Add a child condition item"
          mat-mini-fab class="m-1 mt-2" (click)="addSingleOtherBlockControl()">
          <mat-icon>join_full</mat-icon>
        </button>
        <button *ngIf="isHoveringConditionBlock && parentCondition"
                color="warn"
                matTooltip="Remove this condition only. All related child conditions will be attached to the parent condition."
                mat-mini-fab class="m-1 mt-2" (click)="removeFirstControl()">
          <mat-icon>remove</mat-icon>
        </button>
        <button *ngIf="isHoveringConditionBlock && hasChildBlocks"
          color="warn"
          matTooltip="Remove all child condition items."
          mat-mini-fab class="m-1 mt-2" (click)="removeOthersBlockControl()">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
    <div *ngIf="hasChildBlocks"
      [ngClass]="{'scope-child-block' : isHoveringConditionBlock }">
      <h4 *ngIf="isHoveringConditionBlock && hasChildBlocks">
        Condition Expressions:
      </h4>
      <ng-container formArrayName="others">
        <ng-container *ngFor="let c of othersFormArray.controls; let index = index">
          <app-property-filter-control-block-control
            (onChanges)="onOthersBlockChanges($event)"
            (onValueChange)="onOthersBlockValueChange($event)"
            (onValidationError)="onOthersBlockValidationErrors($event)"
            [depth]="depth + 1"
            [index]="index"
            [parentCondition]="condition"
            [formGroup]="c"
            [typeDefinition]="typeDefinition"
            (onRemoveBlockItem)="handleRemoveBlockFirstItem($event)">
          </app-property-filter-control-block-control>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<app-inspect-button
  *ngIf="formGroup && isRootBlock"
  class="m-1 mt-2"
  [color]="formGroup.valid ? 'primary' : 'warn'"
  [data]="{ isValid: formGroup.valid, query: formGroup.value }"></app-inspect-button>
