.separate-condition-block
  padding: 5px 5px 5px 20px
  border: 1px solid rgba(18, 100, 227, 0.3)

.scope-child-block
  border: 4px dotted rgba(18, 100, 227, 0.6)
  padding: 10px
  margin: 2px
  background: rgba(18, 100, 227, 0.2)
