<span *ngIf="formGroup && type && property && filterDefinition">
  <span *ngIf="filterDefinition.arg1Required === true">
    <span [formGroup]="formGroup">
      <ng-container formArrayName="arguments">
        <ng-container *ngFor="let c of argumentsFormArray!.controls; let index = index; let last = last">
          <span [formControl]="c" ngDefaultControl>
            <div fxLayout="column">
              <span fxFlex="auto">
                <div fxLayout="row">
                  <mat-form-field
                    appearance="fill"
                    [ngClass]="{'d-block' : !requiresDynamicArray}">
                    <mat-label>{{getLabelText(index)}}</mat-label>
                    <ng-container [ngSwitch]="argumentControlInputType">
                      <ng-container *ngSwitchCase="'number'">
                        <input matInput
                               class="d-block w-100"
                               [value]="c.value"
                               type="number"
                               (keyup)="inputValueChange($event)"
                               placeholder="{{argumentControlInputType}}">
                      </ng-container>
                      <ng-container *ngSwitchCase="'enum'">
                        <mat-select [formControl]="c"
                          panelClass="panel-override"
                          (selectionChange)="inputValueChange($event.value)"
                          placeholder="Select a filter">
                          <mat-option *ngFor="let f of property!.enumValues" [value]="f">
                            {{f}}
                          </mat-option>
                        </mat-select>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <input matInput
                               class="d-block w-100"
                               [value]="c.value"
                               [type]="argumentControlInputType"
                               (keyup)="inputValueChange($event)"
                               placeholder="{{argumentControlInputType}}">
                      </ng-container>
                    </ng-container>
                  </mat-form-field>
                  <button
                    matTooltip="Remove argument at index {{index}}"
                    mat-mini-fab color="primary"
                    class="ms-1 mt-2" (click)="removeArgumentControl(c)" *ngIf="requiresDynamicArray">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <button
                    matTooltip="Add argument index {{index + 1}}"
                    mat-mini-fab color="primary"
                    class="mt-2 ms-1 me-1" (click)="addArgumentControl()"
                          *ngIf="last && requiresDynamicArray">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </span>
              <span fxFlex="auto" *ngIf="c.hasError('required')" class="text-danger ms-2 mb-3">
                This is a required field.
              </span>
            </div>
          </span>
        </ng-container>
        <button
          matTooltip="Add argument"
          mat-mini-fab class="m-1" (click)="addArgumentControl()"
          *ngIf="argumentsFormArray!.length == 0 && requiresDynamicArray">
          <mat-icon>add</mat-icon>
        </button>
      </ng-container>
    </span>
  </span>
</span>
